# Node
/node_modules

# Vendor (Dependencies PHP)
/vendor

# File Environment
.env

# Laravel Storage & Cache
/storage/app/public
/storage/framework/
/storage/logs/
laravel.log

# Laravel Public Build
#/public/build
/public/hot

# macOS
.DS_Store

# NPM dependency lock file
package-lock.json

# Folder public/storage (symlink)
/public/storage

# Folder ekstensi VS Code
.history/
.lh/
