@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Morganite';
  src: url('/fonts/Morganite-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

